/* styles.css */
body {
    background-color: #f9f9f9;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-img-top{
    height: 200px;
    width: 200px;
}
.text-center {
    margin-top: 20px;
}
#WhatsApp{
 color: green;
}
