{% extends "listings/base.html" %}

{% block content %}
<div class="container">
    <!-- <h1>Available Cars</h1> -->

    <!-- Search Form -->
    <form method="get" action="{% url 'car_list' %}">
        <div class="row mb-3">
            <div class="col">
                <input type="text" name="name" class="form-control" placeholder="Search by Car Name">
            </div>
            <div class="col">
                <select name="brand" class="form-select">
                    <option value="">All Brands</option>
                    {% for brand in brands %}
                        <option value="{{ brand.name }}">{{ brand.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <select name="year" class="form-select">
                    <option value="">All Years</option>
                    {% for year in years %}
                        <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <select name="km" class="form-select">
                    <option value="">All KM</option>
                    <option value="50000">Up to 50,000</option>
                    <option value="100000">Up to 100,000</option>
                    <option value="150000">Up to 150,000</option>
                    <option value="200000">Up to 200,000</option>
                    <option value="200001">Above 200,000</option>
                </select>
            </div>
            <div class="col">
                <select name="oil_type" class="form-select">
                    <option value="">All Oil Types</option>
                    {% for oil in oil_types %}
                        <option value="{{ oil.type }}">{{ oil.type }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <select name="price" class="form-select">
                    <option value="">All Prices</option>
                    <option value="5000">Up to 5,000</option>
                    <option value="10000">Up to 10,000</option>
                    <option value="20000">Up to 20,000</option>
                    <option value="50000">Up to 50,000</option>
                    <option value="100000">Up to 100,000</option>
                    <option value="100001">Above 100,000</option>
                </select>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Filter</button>
            </div>
            <div class="col">
                <a href="{% url 'rent_car_page' %}" class="btn btn-primary float-end">Rent a Car</a>
            </div>
        </div>
    </form>
    

    <h2>Cars for Sale</h2>
    <div class="row">
        {% for car in cars_for_sale %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    {% if car.front_image %}
                        <img src="{{ car.front_image.url }}" class="card-img-top" alt="{{ car.name }}" style="margin-left: 70px; margin-top: 5px;">
                    
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ car.name }}</h5>
                        <p class="card-text">Price: ${{ car.price }}</p>
                        <p class="card-text">Year: {{ car.model_year }}</p>
                        <p class="card-text">KM Driven: {{ car.km_driven }}</p>
                        <a href="{% url 'car_combined_detail' car.pk %}" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No cars listed for sale.</p>
        {% endfor %}
    </div>

    
    
</div>
{% endblock %}