{% extends "listings/base.html" %}

{% block content %}
<div class="container">
    <h1>Cars for Rent</h1>

    <!-- Search Form -->
    <form method="get" action="{% url 'rent_car_page' %}">
        <div class="row mb-3">
            <div class="col">
                <input type="text" name="brand" class="form-control" placeholder="Search by brand">
            </div>
            <div class="col">
                <input type="number" name="price_per_day" class="form-control" placeholder="Max price per day">
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>

    <ul class="list-group">
        {% for car in cars_for_rent %}
        <li class="list-group-item">
            <a href="{% url 'rent_car_detail' car.pk %}">{{ car.name }}</a> - ${{ car.price_per_day }}/day
        </li>
        {% empty %}
        <li class="list-group-item">No cars match your search criteria.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}